@import './current/main.less';

body {
  padding: 0;
  margin: 60px 0 0;
}

.separator {
  height: 450px;
  overflow: scroll;
}

.breadcrumbs {
  margin: 15px;
}

.error-text {
  color: #8B0000;
}

.error-alert {
}

.dot {
  display: inline-block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: @brand-primary;
  &.primary {
    background-color: @brand-primary;
  }
  &.success {
    background-color: @brand-success;
  }
  &.info {
    background-color: @brand-info;
  }
  &.warning {
    background-color: @brand-warning;
  }
  &.danger {
    background-color: @brand-danger;
  }
  &.unknown {
    background-color: @gray;
  }
}

#scheduler {
  margin: 10px 0 0 0;

  th,
  td,
  thead,
  tbody,
  .fc-divider,
  .fc-row,
  .fc-content, /* for gutter border */
  .fc-popover,
  .fc-list-view,
  .fc-list-heading td {
   border-color: #666;
  }
}
